<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.demo.mapper.AdminMapper">
    <select id="login"  parameterType="String" resultType="com.my.demo.domain.Admin">
        select * from admin where username = #{username} and password = #{password};
    </select>


    <insert id="register" parameterType="com.my.demo.domain.Admin">
        insert into admin (username,password,email,name,phone,gender,birthday,privateKey)
        values (#{username},#{password},#{email},#{name},#{phone},#{gender},#{birthday},#{privateKey});
    </insert>

    <select id="fileList"  resultType="com.my.demo.domain.FileEntity">
        select * from filelist;
    </select>

    <select id="selectOne"   parameterType="String" resultType="com.my.demo.domain.FileEntity">
        select * from filelist where fileName=#{fileName};
    </select>
    <insert id="fileAdd" parameterType="com.my.demo.domain.FileEntity">
        insert into filelist (fileName,filePath,count,changeTime)
        values (#{fileName},#{filePath},#{count},#{changeTime});
    </insert>

    <update id="updateCount" parameterType="com.my.demo.domain.FileEntity">
        update filelist
        <set>
        <if test="count!=null"> count=#{count},</if>
        <if test="changeTime!=null"> changeTime=#{changeTime},</if>
        </set>
        where fileName=#{fileName};
    </update>
</mapper>